html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainblocksign {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.auth-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 2; 
    position: relative; 
}

.auth-form h1 {
    color: #333;
}

.auth-form form {
    display: flex;
    flex-direction: column;

}

.auth-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-form button:hover {
    background-color: #4cae4c;
}

.auth-form p {
    margin-top: 15px;
}

.auth-form a {
    color: #0275d8;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

.flashes p{
    font-size: 18px;
    color: rgb(196, 0, 0);
}